.body{
    width: 100%;
    background: rgb(98,72,209);
    background: radial-gradient(circle, rgba(98,72,209,1) 0%, rgba(0,0,0,1) 70%);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
}
.signUpContainer{
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 3px black;
    background-color: aliceblue;
}
.imgSignUp{
    border-radius: 20px 0 0 20px;
}
  
.textBlockSignUp{
    display: flex;
    width: 30vw;
    flex: 1; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
  
.signUp{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 18px;
    border: 1px solid transparent;
    padding-bottom: 8px; 
    padding: 7px;
    width: 21vw;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
}
.signUp:hover {
    border-color: #563bea;
}
.signUp:focus,
.signUP:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.h2{
    background: linear-gradient(45deg, #2a203f 33%, #0d72a9 66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    align-self: center;
}
.goBack{
    flex: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: normal;
    background: none;
    border: 0;
    height: 40px;
    width: 40px;
}
.goBack:hover{
    background-color: #ffffff;
    border-radius: 50%;
}
.head{
    display: flex;
    align-items: center;
}